<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <% for (var i in theme.social) { %>
          <li class="list-inline-item">
            <a target="_blank" href="<%- url_for(theme.social[i]) %>">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-<%= i %> fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <% } %>
        </ul>
        <p class="copyright text-muted">Copyright &copy; <%= config.author %> <%= config.start_year %>-<%= (new Date()).getFullYear() %></p>
      </div>
    </div>
  </div>
</footer>